* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gillroy';
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: red;
}
#nav {
    height: 80px;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

#nav-part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.circel {
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}