* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display SC", serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#nav {
    height: 80px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#nav-part-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.circle {
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
}

#nav-part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#nav-part-2 h4 {
    font-size: 16px;
    font-weight: 600;   
}

#nav-part-2 h4 span {
    color: rgb(98, 98, 98);
    margin-left: 25px;
}

#nav-2 {
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 90px;
    padding: 0 50px;
}

#nav-3 h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600
}

#content {
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content {
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}

#text-content::-webkit-scrollbar-thumb {
    background-color: orangered;
}

.text {
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h1 {
    font-size: 130px;
    font-weight: 300;

}

#image-content {
    height: 60%;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 0;
}

#image-content img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}